<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CatalogName" value="e:\1\"/>
  </appSettings>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MyDB" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CreateDataBase.OrdersContext;Integrated Security=True"/>
  </connectionStrings>

</configuration>