@{
    ViewBag.Title = "Index";
}

<h2>Statistics</h2>

<p>
@Html.ActionLink("Managers", "Managers")
</p>
<p>
@Html.ActionLink("Customers", "Customers")
</p>
<p>
@Html.ActionLink("Products", "Products")
</p>
<p>
@Html.ActionLink("Orders", "Orders")
</p>
