@model HandH.Models.Manager

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Manager</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManagerSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerSurname)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("admin")){@Html.ActionLink("Edit", "Edit", new { id = Model.ManagerID })} 
    @Html.ActionLink("Back to List", "Index")
</p>
